<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Fragments Main</title>
    
    
</head>
<body>

 <div th:fragment="content">
 <br/>
<div class="row">
 <button type="button" class="btn btn-primary">Refresh Reporting</button>
</div>

 <div class="row">
 
 
   <div class="col-lg-10 mt-5 mb-5">
   <h3>Reporting</h3>
  <table class="table table-bordered" style="width: 100%">
    <thead>
      <tr>
        <th>No</th>
        <th>Reporting Name</th>
        <th>Version</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="plugin,rowStat: ${plugins}">
       <td th:text="${rowStat.__index__+1}">1</td>
        <td th:text="${plugin.pluginName}">1</td>
    	<td th:text="${plugin.version}">Jack</td>
    	   <td>
        <a th:href="@{'/pluginview?plugin=' + ${plugin.folderName}}">View</a>
     </td>
     
    </tr>
    </tbody>
  </table>
  </div>
  </div>
 </div>


</body>
</html>